* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jog__inner {
  margin: 100px auto 0px;
  max-width: 540px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px gray;
}